 <!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymLeaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8"/> 
    <title>this is home page</title> 
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
    <div class="text-center">
    <h1 class="font-weight-bold">About</h1>
   <P class="text-center">This is a learning Project, the main Objective of
    this project to <br>create
    an application which stores contacts in very efficient way <br>and provides a 
    smarter way of handling contacts with fully Authentication and Authorization.</P>
    
    </div>
    </section>
</body>
</html>