 <!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymLeaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8"/> 
    <title>this is home page</title> 
</head>
<body>
    <section>
    <div class="container">
    <div class="row">
    <div class="col-md-8 offset-md-2">
    <div class="my-card mt-1">
    
  
   
    
       <div class="container text-center">
       
       <img src="" class="" style="width:80px;" th:src="@{/image/membership.png}" alt=""/>
       </div>
    
           <h1 class="text-center">Register Here!!</h1>
           
           <form action="" th:action="@{/do_register}" method="post" th:object="${user}">
        <!-- Name field -->
      <div class="form-group">
    <label for="name_field">Your Name</label>
    <input name="name" type="text" class="form-control" id="name_field" aria-describedby="emailHelp" placeholder="Enter Name" required th:value="${user.name}">
      
        
  </div>
        <!-- Email field -->
        
         <div class="form-group">
    <label for="email_field">Your Email</label>
    <input name="email" type="email" class="form-control" id="email_field" aria-describedby="emailHelp" placeholder="Enter Email" required th:value="${user.email}">
   
  </div>
  
     <!-- Password -->
     
      <div class="form-group">
    <label for="password_field">Your Password</label>
    <input name="password" type="password" class="form-control" id="password_field" aria-describedby="emailHelp" placeholder="Enter Password">
   
  </div>
  
  
    <!-- user about field -->
           <div class="form-group">
           
           <textarea name="about" th:value="${user.about}" placeholder="Enter Something here" rows="10" class="form-control"></textarea>
           </div>
           
           <!-- terms and agreement -->
           
           <div class="form-group form-check">
           
               <input type="checkbox"
               name="agreement"
               class="form-check-input"
               id="agreement"
               
               
               />
               <label for="agreement">Accept terms and conditions</label>
           
           
           </div>
             
           
           <div class="container text-center">
           
           <button type="submit" class="btn bg-primary text-white">Submit</button>
           
            <button type="reset" class="btn bg-warning text-white">Reset</button>
           
           
           </div>
           
           </form>
           
           
           
           </div>
    
          </div>
    </div>
</div>
    
    
    </section>
</body>
</html>